main {
  display: flex;
  flex-grow: 1;
  gap: 40px;

  > section {
    width: 50%;
  }
}

@media screen and (max-width: 1200px) {
  main {
    display: flex;
    flex-direction: column;

    > section {
      width: 100%;
    }
  }
}
